<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://emojipedia-us.s3.amazonaws.com/thumbs/320/microsoft/58/squared-cool_1f192.png" />
    <title>WordCounter</title>
</head>
<body>
  <h1>WordCounter</h1>
  <h2>A simple MVC web app for your word counting needs.</h2>
  <div class="container">
    <form action="/result" method="post">
      <label for="phrase">Enter a phrase: </label>
      <br>
      <input name="phrase" type="text" required="true">
      <br>
      <label for="check">Enter a word to see its frequency in your phrase: </label>
      <br>
      <input name="check" type="text" required="true">
      <div class="container">
      <button type="submit" class="button">Check!</button>
    </div>
  </div>
  <div class="container">
    <span class="result">
    @if (@Model == null)
    {
      <p>You have not entered a phrase and word to check its frequency.</p>
    }
    else
    {
      <p>@Model</p>
    }
    </span>
  </div>
</body>
